@()(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
<head>
    <title>Hello-RPG</title>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
	<script  type='text/javascript' src='@routes.Assets.at("javascripts/crafty.js")'></script>
	<script  type='text/javascript' src='@routes.Assets.at("javascripts/game.js")'></script>
	<script  type='text/javascript' src='@routes.Assets.at("javascripts/components.js")'></script>
	<script  type='text/javascript' src='@routes.Assets.at("javascripts/scenes.js")'></script>
</head>
<body data-ws-url="@routes.ApplicationScala.ws.webSocketURL()">
    <div id="cr-stage" style="width: 384px; height: 256px; overflow: hidden; position: relative; background-color: rgb(87, 109, 20); background-position: initial initial; background-repeat: initial initial;"><div style="position: absolute; z-index: 1; -webkit-transform: scale(1, 1);"></div>
    <canvas width="384" height="256" style="position: absolute; left: 0px; top: 0px;"></canvas></div>

</body>
</html>