@import play.mvc.Http.Context.Implicit._
@import helper._


<!DOCTYPE html>
<html>
<head>
    <title>WestlandGangs</title>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>

@form(action = routes.ApplicationScala.login()) {

        <input type="submit"/> 
    
}
    
</body>
</html>